
@font-face {
  font-family: 'SVN-Biennale';
  src: url("fonts/Fontspring-DEMO-biennale-book.otf") format("opentype");
}


@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.col-md-offset-right-1, .col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list_style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

.m-b-0{
  margin-bottom: 0px;
}

.p0 {
  padding: 0px;
}
.p2 {
  padding: 2px;
}
.p-tb-15{
  padding: 1.7rem 0;
}
.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0;
}
.pr-5 {
  padding-right: 5px;
}
.mt-8 {
  margin-top: 8px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-25 {
  margin-top: 25px;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #777777;
}

section {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

#icon{
  margin-right: 5px;
}

.section_gap {
  padding: 120px 0;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.mb_30 {
  margin-bottom: -30px;
}

.section_title {
  margin-bottom: 75px;
}

.section_title h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}

.section_title p {
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  margin-bottom: 0px;
}

.title_color {
  color: #222222;
}

.title_w {
  color: #fff;
}

.title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.theme_btn {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background: #f3c300;
  padding: 5px 30px;
}

.theme_btn:before {
  background: #f8b100;
}

.theme_btn:hover {
  color: #fff;
}

.white_btn {
  background: #fff;
  padding: 0px 40px;
  line-height: 40px;
  font-size: 14px;
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.button_hover {
  border-radius: 0px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  border: 0px;
  display: inline-block;
  text-align: center;
}

.button_hover:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: -1;
  background: #f8b100;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 0;
}

.button_hover:hover {
  color: #fff;
}

.button_hover:hover:before {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.theme_btn_two {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  background: #222222;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 29px;
}

.book_now_btn {
  width: 100%;
  display: block;
  background: #f3c300;
  color: #222222;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  padding: 5px 20px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== header css =============*/
.header_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header-top {
  padding: 3px 0px;
}

.header-top a {
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header-top a:hover {
  color: #f3c300;
}

.header-top ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.header-top ul li {
  display: inline-block;
  margin-right: 15px;
}

@media (max-width: 414px) {
  .header-top ul li {
    margin-right: 0px;
  }
}

.header-top .header-top-left a {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
}

.header-top .header-top-right {
  text-align: right;
}

.header-top .header-top-right .header-social a {
  color: #fff;
  margin-left: 15px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
}

.header-top .header-top-right .header-social a:hover {
  color: #f3c300;
}

.navbar {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

.navbar {
  background: transparent;
  padding: 0px 25px;
}
/*
.navbar img{
  display: flex;
  align-items: center;
  justify-content: right;
}*/

.navbar .logo_h {
  padding-top: 8px;
}

.navbar .menu_nav .nav-item .nav-link {
  font: 500 12px/80px "Poppins", sans-serif;
  color: #222222;
  padding: 0px;
  font-size: 14px;
}

.navbar .menu_nav .nav-item .nav-link:after {
  display: none;
}


.navbar .menu_nav .nav-item:hover .nav-link, .navbar .menu_nav .nav-item.active .nav-link {
  color: #222222;
  cursor: pointer;
}

.navbar .menu_nav .nav-item.submenu {
  position: relative;
}

.navbar .menu_nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  background: transparent;
}

@media (min-width: 992px) {
  .navbar .menu_nav .nav-item.submenu ul {
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 220px;
    text-align: left;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}

.navbar .menu_nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.navbar .menu_nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@media (min-width: 992px) {
  .navbar .menu_nav .nav-item.submenu ul .nav-item {
    margin-top: 10px;
  }
}

.navbar .menu_nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #222222;
  padding: 0px 30px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  display: block;
}

.navbar .menu_nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.navbar .menu_nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #f0f0f0;
  color: #52c5fd;
}

@media (min-width: 992px) {
  .navbar .menu_nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
  }
}

.navbar .menu_nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}

.navbar .menu_nav .nav-item + li {
  margin-left: 30px;
}

.menu_two {
  background: rgba(255, 255, 255, 0.15);
}

.menu_two .menu_nav .nav-item .nav-link {
  line-height: 60px;
  color: #fff;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  left: 0;
  background: #fff;
  top: 0;
  top: -50px;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
}

.navbar_fixed .navbar {
  background: transparent;
}

.navbar_fixed .header-top {
  display: none;
}

.navbar_fixed.header_two {
  background: rgba(34, 34, 34, 0.9);
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============= Start banner_area css =============*/
.main-cl{
  color: #4D46FA;
  font-weight: bold;
}
.extra-cl{
  color: rgba(240, 99, 54, 1);
}
.banner_area {
  position: relative;
  z-index: 1;
}

.banner_area .bg-parallax {
  width: 100%;
  height: 100vh;
  background: url("../image/begina-kisembo--rMEwp6TMLs-unsplash 1.jpg") no-repeat center/cover;
  opacity: 0.9;
}

.banner_area .position {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.Button-nav{
  border: 2px solid #4D46FA;
  background-color: #4D46FA;
  border-radius: 0.9em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  transition: all ease-in-out 0.2s;
  font-size: 14px;
}
.Button-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-family: 'SVN-Biennale';
 }
 
 .Button-nav:hover {
  background-color: #0071e2;
  border: 2px solid #4D46FA;
 }

.booking_table {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 800px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  bottom: 0;
  z-index: -1;
}

.banner_content {
  color: #000;
  margin-bottom: 94px;
}

.banner_content h6 {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 400;
}

.banner_content h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.banner_content p {
  font-family: 'SVN-Biennale';
  font-weight: 400;
  font-size: 72px;
  line-height: 24px;
  padding: 10px 0px 20px;
}

/*============= End banner_area css =============*/
.hotel_booking_table {
  background: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 50px 10px;
}
.infor-fly{
  font-size: 14px;
  font-weight: 600;
  color: #000;
  gap: 2rem;
}
.infor-fly select{
  color: #000;
  border: none !important;
}

.p-t-8{
  padding-top: 8px;
}

#peple-Fly{
  margin-top: -12px;
  border: none !important;
}

.select-font{
  padding-top: -12px;
}

.hotel_booking_table input{
  font-size: 18px;
}

.hotel_booking_table h2 {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
}

.boking_table {
  margin-left: -50px;
}

.data-Time{
  border: 1px solid #DDDDDD;
  border-radius: 12px;
  padding: 15px 0px !important;
}

.book_tabel_item .Departure {
  margin-bottom: -5px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.book_tabel_item .form-group {
  margin-bottom: -8px;
  margin-left: -21px;
}

.book_tabel_item .prev_Next button{
  margin-right: 1.5em;
  border: none;
  margin: none;
  padding: 0;
  color: #777777;
}

.book_tabel_item .prev_Next button:hover{
  color: #000;
}

.book_tabel_item .prev_Next button::after{
  content: '';
  width: 0%;
  height: 1px;
  background: #000;
  display: block;
}

.book_tabel_item .prev_Next button:hover:after {

  margin-left: -5px;
  width: 135%;
}

.book_tabel_item .form-group .input-group {
  position: relative;
}

.book_tabel_item .form-group .input-group .form-control {
  border: 1px solid transparent;
  background: transparent;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  padding: 0px 20px;
  color: #4D46FA;
  z-index: 0;
}

.book_tabel_item .form-group .input-group .form-control.placeholder {
  color: #4D46FA;
}

.book_tabel_item .form-group .input-group .form-control:-moz-placeholder {
  color: #4D46FA;
}

.book_tabel_item .form-group .input-group .form-control::-moz-placeholder {
  color: #4D46FA;
}

.book_tabel_item .form-group .input-group .form-control::-webkit-input-placeholder {
  color: #4D46FA;
}

.book_tabel_item .form-group .input-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.book_tabel_item .form-group .input-group .input-group-addon {
  background: transparent;
  padding: 0px;
  border: 0px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #4D46FA;
  z-index: 2;
}


.book_tabel_item .nice-select {
  background: transparent;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
}

.book_tabel_item .nice-select:after {
  content: "\e874";
  font-family: 'Linearicons-Free';
  font-size: 13px;
  color: #777777;
  border: 0px;
  top: 0;
  margin-top: 0px;
  right: 20px;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== flightSchedule css =============*/

/*============== header flightSchedule css ===============*/
.header_flightSchedule{
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(77, 70, 250, 1);
}

.header_flightSchedule .container .navbar .menu_nav .nav-item .nav-link {
  font: 500 12px/80px "Poppins", sans-serif;
  color: #fff;
  padding: 0px;
  font-size: 14px;
}
/*
.header_flightSchedule .container .navbar .menu_nav .nav-item:hover .nav-link{
  color: #fff;
  background-color: #5f58fb;
  cursor: pointer;
}

.header_flightSchedule .container .navbar .menu_nav .nav-item.active .nav-link {
  color: #fff;
  background-color: #5f58fb;
  margin: 0;
  cursor: pointer;
}*/

.header_flightSchedule .Button-nav{
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 0.9em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  transition: all ease-in-out 0.2s;
  font-size: 14px;
}
.header_flightSchedule .Button-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5f58fb;
  font-weight: 600;
  font-family: 'SVN-Biennale';
 }
.btn-trade{
  margin: 45px 0;
  border: none;
  font-size: 12px;
}
 .fly-Arena{
  margin: 40px 0;
  border: none;
  font-size: 12px;
  line-height: 17px;
 }
 .infor-Arena{
  font-size: 16px;
  font-weight: 600;
  color: rgba(77, 70, 250, 1);
  display: block;
 }
 .infor-fly-book{
  margin: 35px 0;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  gap: 2rem;
 }

 .btu-Change {
  border: 2px solid rgba(240, 99, 54, 1);
  background-color: rgba(240, 99, 54, 1);
  border-radius: 0.9em;
  margin: 35px 0;
  padding: 0.4em 0.5em 0.4em 0.5em;
  transition: all ease-in-out 0.2s;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.m-r-15{
  margin-right: 15px;
}

.Your-flight{
  margin-bottom: 40px;
  font-size: 14px; 
  font-weight: 600; 
  text-transform: uppercase;
}
.circle-nb-1{
  width: 35px;
  padding: 7px 4px;
  margin: auto;  
  text-align: center;
  border-radius: 100%;
  background-color: rgba(151, 151, 151, 1);
  color: #fff;
  font-family: 'SVN-Biennale';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}
.day-flights{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.m-b-18{
  margin-bottom: 18px;
}
.day-flights .infor-Arena{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
}

.m-t-5{
  margin-top: 5px;
}

.m-t-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.day-flights a{
  text-decoration: underline;
}

.Airline{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}
.time-flights{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
  letter-spacing: 2px;
}
.Dad{
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  color: #000;
  letter-spacing: 2px;
  display: grid;
  place-items: center;
}
.travel-Hours{
  display: grid;
  place-items: center;
  margin-bottom: -8px;
}
.in-line{
  padding-left: 30px;
}
.Direct{
  display: grid;
  place-items: center;
  margin-top: -8px;
}

.Change-flight{
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 12px;
  color: rgba(77, 70, 250, 1);
  padding: 15px 0px 43px;
}
.circle-nb-2{
  width: 35px;
  padding: 7px 4px;
  margin: auto;  
  text-align: center;
  border-radius: 100%;
  background-color: rgba(77, 70, 250, 1);
  color: #fff;
  font-family: 'SVN-Biennale';
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}
.p-b-30{
  padding-bottom: 30px;
}
.Subtotal{
  font-size: 14px;
  line-height: 20px;
}
.price{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: rgba(240, 99, 54, 1);
  display: block;
}
.filter-flights .Filter{
  margin: 10px 10px 0px 0px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
.detail-Airline{
  padding-top: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Discout{
  text-decoration:line-through;
}
.Btn-choose{
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 0.9em;
  padding: 0.2em 0.8em 0.2em 0.8em;
  margin: 0.4em;
  transition: all ease-in-out 0.2s;
  font-size: 14px;
}
.Btn-choose a{
  color: rgba(240, 99, 54, 1);
}

.Btn-choose-act{
  border: 2px solid rgba(240, 99, 54, 1);
  background-color: rgba(240, 99, 54, 1);
  border-radius: 0.9em;
  padding: 0.2em 0.8em 0.2em 0.8em;
  margin: 0.4em;
  transition: all ease-in-out 0.2s;
  font-size: 14px;
}
.Btn-choose-act a{
  color: #fff;
}
.flight-Detail-Under{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(77, 70, 250, 1);
  text-decoration: underline;
  text-transform: uppercase;
  padding-right: 2rem;
}

.flight-Detail{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  padding-right: 2rem;
}

.flight-Detail-cl{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(77, 70, 250, 1);
  text-transform: uppercase;
  padding-right: 2rem;
}

.fare-info{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.fare-info-Under{
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(77, 70, 250, 1);
  text-decoration: underline;
  text-transform: uppercase;
}

.code-flights{
  font-size: 12px;
  line-height: 18px;
}

.detail-flights{
  padding: 1rem 1rem;
}

.time-Line {
  padding-right: 0;
  gap: 2.4rem;
  display: grid;
}
.time-Line .day-Time .Time{
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
}

.time-Line .day-Time .Time1{
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}

.time-Line .day-Time .Day{
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  color: #000;
}

.arena-Flights{
  padding-right: 0;
  gap: 5.7rem;
  display: grid;
}
.arena-Flights .arena-fly .ARENA{
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
}

.arena-Flights .arena-fly .arena{
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  color: #000;
}
.head-tile{
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
}
.price-Details{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.price-Details .strong{
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
}
.city{
  font-size: 14px;
  font-weight: 400;
  line-height: 20.66px;
  display: block;
}
.Economy{
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(77, 70, 250, 1);
}
/*============== footer-area css ===============*/
.footer-area {
  background: #fff;
  padding: 0px 0px 40px 0;
}

.single-footer-widget ul li a {
  line-height: 25px;
  display: inline-block;
  color: #777;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 13px;
}

.single-footer-widget ul li a:hover {
  color: #f3c300;
}

.single-footer-widget .instafeed {
  margin-left: -5px;
  margin-right: -5px;
}

.single-footer-widget .instafeed li {
  margin: 5px;
}

.single-footer-widget .subscribe_form {
  padding-top: 13px;
}

.single-footer-widget .input-group {
  display: block !important;
}

.single-footer-widget input {
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 30px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  background: transparent;
  padding-left: 20px;
}

.single-footer-widget input.placeholder {
  color: #999999;
}

.single-footer-widget input:-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-webkit-input-placeholder {
  color: #999999;
}

.single-footer-widget input:focus {
  outline: none;
}

.single-footer-widget .sub-btn {
  background: #f3c300;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  line-height: 34px;
  padding: 4px 11px 0px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.footer_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.btu-sreach {
  border: 2px solid #4D46FA;
  background-color: #4D46FA;
  border-radius: 0.9em;
  padding: 0.8em 0.4em 0.8em 0.6em;
  transition: all ease-in-out 0.2s;
  font-size: 18px;
  cursor: pointer;
}

.btu-sreach span {
  font-family: SVN-Biennale;
  padding-bottom: 7px;
  font-size: 18px;
  font-weight: 600;
  padding-right: 2rem;
  color: #fff;
}

.border_line {
  width: 100%;
  height: 1px;
  background: #333333;
  margin-top: 30px;
}
.footer-top {
  padding-top: 25px;
  padding-right: 2rem;
  padding-left: 2rem;
}
.footer-bottom {
  padding-top: 46px;
  padding-right: 2rem;
  padding-left: 2rem;
}

.footer-bottom .footer-text {
  display: flex;
}

.footer-bottom .footer-text p {
  padding-left: 2rem;
  font-size: 14px;
}

.footer-bottom .footer-social {
  text-align: right;
  display: flex;

}

.footer-bottom .footer-social p {
  font-size: 14px;
}


/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */